<% if @article.errors.any? %>
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-danger" role="alert">
		        <ul class="mb-2">
		            <% @article.errors.full_messages.each do |msg| %>
		                <li> <%= msg %> </li>
		            <% end %>
		        </ul>
			</div>
		</div>
	</div>
<% end %>
