<div class="home">
	<div class="jumbotron text-center">
		<h1 class="display-1">Blog</h1>
		<p class="lead">Welcome to Blog.</p>
		<hr class="m-y-md">
		<p class="lead">
			<a class="btn btn-lg" href="#" role="button">Sign Up</a>
		</p>
	</div>
</div>